.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.nowbooks{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.futurebooks{
  display: flex;
  justify-content: space-between;
}

.future-book-container,
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 57.5vw;
  background-color: var(--title);
  border-radius: 20px;
  color: black;
}

.current-book-container,
.favorite-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27.5vw;
  height: fit-content;
  background-color: var(--title);
  border-radius: 20px;
  color: black;
}

/*titres*/
.book-container h1,
.favorite-book-container h1 {
  padding: calc(3px + 1vh);
  width: 100%;
  border-bottom: 2px solid var(--navbar);
}

/*mes favoris/current */

.current-book-container .books-list.fornobook,
.favorite-book-container .books-list.fornobook {
  justify-content: center;
}

.current-book-container .books-list .nocurrentbook,
.favorite-book-container .books-list .nofavoritebook {
  margin-top: auto;
  margin-bottom: auto;
  width: 75%;
}

/*sans livre*/

.books-list.fornobook {
  align-items: center;
}

.books-list .nobook {
  width: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(calc(50% - 5vh - 5vw));
}

.books-list .nobook p {
  width: 50%;
}

/*livres*/
.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: calc(3px + 1vh);
}

.books-list .book-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(5vw + 5vh + 6px + 2vh);
  padding: 0 calc(3px + 1vh);
  margin: calc(3px + 0.3vh);
}

.books-list .book-item h4 {
  font-size: calc(5px + 1vh);
}

.books-list .book-item p {
  font-size: calc(2px + 1vh);
}

.books-list .book-item .delete-button {
  position: absolute;
  z-index: 2;
  top: calc(3px + 0.3vh - 10px);
  right: calc((3px + 0.3vh + 3px + 1vh) / 2);
  background: red;
  color: black;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.books-list .book-item:hover .delete-button {
  display: flex;
}

.books-list .add-book-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: calc(3px + 1vh);
  background-color: transparent;
  width: calc(5vw + 5vh);
  aspect-ratio: 1/1.3;
  cursor: pointer;
}

.books-list .add-book-button i {
  font-size: calc(10px + 1vh + 1vw);
  padding: calc(3px + 1vh);
}

.books .book-image {
  width: 100%;
  clip-path: inset(0% 0% 0% 0% round 10px);
  object-fit: cover;
  aspect-ratio: 1/1.3;
}

/*titres*/
.current-book-container h1,
.future-book-container h1 {
  padding: calc(3px + 1vh) 0;
  width: 100%;
  border-bottom: 2px solid var(--navbar);
}

/*/* Ma bibliothèque */
.future-book-container .books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: calc(3px + 1vh);
}

@media screen and (max-width: 1050px) {
  .books{
    width: 95%;
  }
  .favorite-book-container,
  .current-book-container{
    width: 35vw;
  }
}

@media screen and (max-width: 730px) {
  .nowbooks,
  .futurebooks{
    flex-direction: column;
  }
  .book-container,
  .favorite-book-container,
  .future-book-container,
  .current-book-container {
    width: 100%;
  }
  .favorite-book-container,
  .current-book-container{
    margin-bottom: 20px;
  }
  /*sans livres*/
  .books-list .add-book-button, .books-list .book-item {
    width: calc(7.5vh + 7.5vw);
  }

  .books-list .nobook {
    transform: translateX(calc(50% - 7.5vh - 7.5vw));
  }
}