.password-overlay {
    position: fixed;
    top: calc(8vh + 20px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9996;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper-password {
    z-index: 9997;
    width: 400px;
    height: calc(210px + 28vh);
    min-height: 300px;
    max-height: 500px;
    border-radius: 30px;
    background-color: var(--login-box);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    border: 2px solid var(--navbar);
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper-password .form-box-password {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInPassword {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutPassword {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.animate-password-popup {
    animation: fadeInPassword 0.3s ease-out;
}

.animate-password-popup-close {
    animation: fadeOutPassword 0.3s ease-out;
}

.wrapper-password h2 {
    font-size: calc(10px + 2vh);
    text-decoration: underline;
    color: #030303;
    text-align: center;
    margin-block-start: var(15px + 2vh);
    margin-block-end: 0;
}

/*bouton close*/
.wrapper-password .close-password {
    background: #030303;
    color: #edeeee;
    width: calc(20px + 2vh);
    height: calc(20px + 2vh);
    position: absolute;
    z-index: 9998;
    top: 0;
    right: 0;
    font-size: calc(10px + 1.2vh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    cursor: pointer;

}

.form-box-password form {
    width: 100%;
}

/*input*/
.input-password-box {
    position: relative;
    width: 100%;
    height: calc(30px + 3vh);
    border-bottom: #030303 solid 2px;
    padding: 0 0 10px 0;
    margin: calc(10px + 2vh) 0;
}

.input-password-box label {
    position: absolute;
    top: calc(75% - (10px + 0.8vh)/2);
    left: 5px;
    font-size: calc(10px + 0.8vh);
    pointer-events: none;
    font-weight: 500;
    transition: 0.5s;
}

.input-password-box input:focus~label,
.input-password-box input:valid~label,
.input-password-box input:user-invalid~label {
    top: 20%;
}

.input-password-box input {
    width: calc(100% - 30px);
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    color: #030303;
    padding: 0 25px 0 5px;
}

.submitchangepasswordform {
    width: 100%;
    height: calc(20px + 3vh);
    background-color: #030303;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #edeeee;
    font-size: calc(5px + 2vh);
    font-weight: 500;
    margin-top: calc(7px + 1.5vh);
}

.input-password-box .icon {
    position: absolute;
    right: 5px;
}

.input-password-box .icon i {
    color: #030303;
    font-size: calc(7px + 0.8vh);
    line-height: 80px;
}