.classement{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classement h1 {
  color: var(--color-text-body);
  font-size: calc(5px + 1vh + 1vw);
}
.classement a{
  text-decoration: none;
  color: var(--color-text-body);
}

table.classement-table {
  width: 80%;
  margin: calc(5px + 2vh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: var(--color-text-body);
  border-collapse: collapse;
  text-align: center;
}

.classement-table tr.table-highlight {
  background-color: var(--title);
  color: var(--color-text-body);
  font-weight: 900;
}

.classement-table thead .column1 {
  border-top-left-radius: 20px;
  width: 5%;
}

.classement-table thead .column2 {
  width: 80%;
}

.classement-table thead .column3 {
  border-top-right-radius: 20px;
  width: 10%;
}

.classement-table th,
.classement-table td {
  padding: 12px 15px;
  border: none;
}

.classement-table tbody tr:last-child td.column1 {
  border-bottom-left-radius: 20px;
}

.classement-table tbody tr:last-child td.column3 {
  border-bottom-right-radius: 20px;
}

.classement-table th {
  background-color: var(--navbar);
  font-weight: bold;
  color: var(--bg);
  text-align: center;
}

.classement-table tbody tr:nth-child(even):not(.table-highlight) {
  background-color: var(--navbar);
  color: var(--bg);
}

.classement-table tbody tr:hover:not(.table-highlight) {
  font-weight: 700;
}

/*graphique*/
.chart{
  margin-bottom: calc(5px + 1vh);
}