iframe{
    width: 100%;
    height: calc(100vh - 8vh - 20px);
    min-height: 800px;
    position: relative;
    z-index: 0;
    top: -30px;
}

/* table 10 recent books*/

.last-read-books-table-container {
    padding: 20px;
    background-color: var(--bg);
    color: var(--color-text-body);
    border-radius: 8px;
}

.last-read-books-table-container a{
    color: var(--color-text-body);
    text-decoration: none;
}

.last-read-books-table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-text-body);
}

.last-read-table-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: nowrap
}

.last-read-books-table {
    width: 100%;
    border-collapse: collapse;
}

.last-read-books-table th,
.last-read-books-table td {
    padding: 12px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.last-read-books-table th {
    background-color: var(--navbar);
    color: white;
}

.last-read-books-table tr:hover {
    background-color: var(--1);
}

.book-image {
    width: 50px;
    height: auto;
    border-radius: 4px;
}

.last-read-books-table .column1{
    width: fit-content;
}
.last-read-books-table .column2{
    width: 12%;
}

.last-read-books-table .column3{
    width: 12%;
}
.last-read-books-table .column4{
    width: 10%;
}
.last-read-books-table .column6{
    width: 15%;
}
.last-read-books-table-container .column6 a{
    color: #0d105a;
}

.last-read-books-table .column7{
    width: 5%;
}


/*column5*/
.last-read-books-table .column5{
    width: 40%;
}

.last-read-books-table .column5 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.last-read-books-table .column5 li{
    margin: calc(3px + 1vh) calc(3px + 0.5vw);
    padding: calc(2px + 0.5vh) calc(2px + 0.5vw);
    border-radius: 10px;
}